{% extends "stock/base.html" %}
{% block section_nav %}
<a href="{% url 'home' %}" class="{% block n_home %}{% endblock %}">Home</a>
<a href="{% url 'stock_home' %}" class="{% block n_stock %}{% endblock %}">Stock</a>
<a href="{% url 'recipes' %}" class="{% block n_recipes %}{% endblock %}">Recipes</a>
<a href="{% url 'production' %}" class="{% block n_production %}{% endblock %}">Production</a>
<a href="{% url 'rota' %}" class="{% block n_rota %}{% endblock %}">Rota</a>
<a href="{% url 'notes' %}" class="{% block n_notes %}{% endblock %}">Notes</a>
<a href="{% url 'profile' %}" class="{% block n_profile %}{% endblock %}">Profile</a>
{% if user.is_superuser %}<a href="/admin/">Admin</a>{% endif %}
{% endblock %}
