{% extends "stock/base.html" %}
{% block section_nav %}
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'dashboard' %}" class="{% block n_dash %}{% endblock %}">Dashboard</a>
<a href="{% url 'stocktakes' %}" class="{% block n_st %}{% endblock %}">Stocktakes</a>
<a href="{% url 'deliveries' %}" class="{% block n_deliv %}{% endblock %}">Deliveries</a>
<a href="{% url 'adjustments' %}" class="{% block n_adj %}{% endblock %}">Adjustments</a>
<a href="{% url 'reorder' %}" class="{% block n_reorder %}{% endblock %}">Reorder</a>
<a href="{% url 'products' %}" class="{% block n_prod %}{% endblock %}">Ingredients</a>
<a href="{% url 'suppliers' %}" class="{% block n_sup %}{% endblock %}">Suppliers</a>
{% endblock %}
